@model WCGChairBuy.Web.ViewModels.IndexVModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h2>定制你的专属电竞座椅...</h2>
    <img height="160" src="~/Images/red.jpg" alt="boom">
    <p>型号: HDNY090系列</p>
    
    <p><a class="btn btn-primary btn-lg" href="#" role="button">马上定制</a></p>
</div>
<div class="row">
<h3>产品列表</h3>
</div>
<div class="row">
    @foreach (var p in Model.ProductList)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Images/@p.ImageUrl" alt="...">
                <div class="caption">
                    <h2>@p.ProductName</h2>
                    <p style="color:orangered;font-size:1.8em;">￥@p.Price.ToString("f2")</p>
                    @if (!string.IsNullOrEmpty(p.Description))
                    {
                        <p>@p.Description</p>
                    }
                    <p>
                        <a href="@Url.Action("Index","CustomerMade",new {pid = p.Id })" class="btn btn-primary" role="button">立即定制</a> 
                        <a href="#" class="btn btn-default" role="button">加入购物车</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

